body {
  font-family: "Public Sans", sans-serif !important;
  background-color: #f5f6f7 !important;
}
.gridContainer,
.ag-theme-alpine,
.ag-theme-alpine .ag-header-cell-label,
.ag-theme-alpine .ag-cell {
  font-family: "Public Sans", sans-serif !important;
}
nav {
  position: sticky;
  top: 0;
  z-index: 999;
}
.loadingSection{
  height: calc(100vh - var(--navbar-height));
}